/* styles.css */

/* Add styles here to customize the appearance of your app */

body {
    padding: 1em;
    font-family: sans-serif;
}
#editor {
    margin-top: 1em;
    width: 100%;
    height: calc(100vh - 100px);
}